<div class="row">
    <div class="col-lg-6 col-sm-12 col-md-12">
        <div class="form-group">
            <%= f.label :jivochat, class: "col-form-label" %>
            <%= f.text_area :jivochat, class:"form-control", rows: 10 %>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12 col-md-12">
        <h4 class="text-muted">Instrução</h4>
        <a href="https://i.ibb.co/0Kqv5RK/jivochat.gif" class="image-popup">
            <%= image_tag "https://i.ibb.co/0Kqv5RK/jivochat.gif", class: "w-100", style: "width: 100%" %>
        </a>
    </div>
</div>
<script>
initImagePopup();
</script>