<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="form-group">
        <%= f.label :facebook_pixel %>
        <%= f.text_area :facebook_pixel, class:"form-control", rows: 2  %>
      </div>
    </div>
</div>