<%- model_class = Configuracao -%>

<% content_for :page_title, t('helpers.titles.edit', :model => model_class.model_name.human.titleize) %>

<% content_for :breadcrumb do %>
    <li class="breadcrumb-item">
        <%= link_to model_class.model_name.human(count: 2).titleize, edit_configuracao_path(Configuracao.try(:first)), class: "text-muted" %>
    </li>
    <li class="breadcrumb-item">
        <%= t('helpers.links.edit') %>
    </li>
<% end %>

<% content_for :portlet_title do %>
   <%= t('helpers.titles.edit', :model => model_class.model_name.human.titleize) %>
<% end %>

<%= render 'form' %>