<%- model_class = Noticia -%>

<% remote ||= remote %>
<% autor_id ||= autor_id %>

<div class="accordion accordion-toggle-plus" id="accordionNoticia">
  <div class="card">
    <div class="card-header" id="headingNoticia">
      <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseNoticia" aria-expanded="false" aria-controls="collapseNoticia">
        <%= model_class.model_name.human(count: 2).titleize %>
      </div>
    </div>
    <div id="collapseNoticia" class="collapse" aria-labelledby="headingNoticia" data-parent="#accordionNoticia" style="">
      <div class="card-body">
        <%= render partial: "noticias/datatable", locals: {remote: remote, autor_id: autor_id} %>
      </div>
    </div>
  </div>
</div>
<hr>
