<div style="text-align: center;height: 100%;">
  <span style="display: inline-block;height: 100%;vertical-align: middle;"></span>
  <%= image_tag "http://dunnastecnologia.com.br/img/logo-dark.png", style: "vertical-align: middle;" %>
</div>



