<% content_for :page_title , "500 - Internal Server Error" %>

<div class="notfound-404">
    <h1>500</h1>
</div>
<h2>Oops! Algo deu errado. Por favor, nos informe sobre o erro.</h2>
<a href="<%= root_path %>" class="home-btn">Voltar</a>
<a href="mailto:desenvolvimento@dunnassoft.com.br" class="contact-btn">Entre em Contato</a>
