<% content_for :page_title , "404 - Not Found" %>

<div class="notfound-404">
    <h1>404</h1>
</div>
<h2>Oops! Página não encontrada. Nós não podemos encontrar a página que você está procurando.</h2>
<a href="<%= root_path %>" class="home-btn">Voltar</a>
<a href="mailto:desenvolvimento@dunnassoft.com.br" class="contact-btn">Entre em Contato</a>



