<% content_for :page_title , "422 - Unacceptable" %>

<div class="notfound-404">
    <h1>422</h1>
</div>
<h2>Oops! Talvez você tentou mudar algo que você não tem permissão.</h2>
<a href="<%= root_path %>" class="home-btn">Voltar</a>
<a href="mailto:desenvolvimento@dunnassoft.com.br" class="contact-btn">Entre em Contato</a>



