<%%- model_class = <%= singular_table_name.titleize %> -%>

<%% resource ||= resource %>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <%- attributes.each do |attribute| -%>
        <% unless  attribute.human_name.downcase == 'deleted at' %>
          <dt><strong><%%= model_class.human_attribute_name(:<%= attribute.human_name.downcase %>) %> :</strong></dt>
          <dd><%%= resource.try(:<%= attribute.human_name.downcase %>) %></dd>
        <% end %>
      <% end %>
    </dl>
  </div>
</div>